<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Taha BASRI's Portfolio">
    <meta name="author" content="Taha BASRI">
    <title>{{ page.title }}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Moved js scrips to the top to fix Carousel loading issue -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg site-header sticky-top navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand px-4" href="#">Taha B.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item px-4 {% if page.title contains 'Portfolio' %} active {% endif %}">
              <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item px-4 {% if page.title contains 'Activities' %} active {% endif %}">
              <a class="nav-link" href="activity">Activities</a>
            </li>
            {% if page.title contains 'Portfolio' %}
            <li class="nav-item px-4">
              <a class="nav-link" href="#contactSection">Contact</a>
            </li>
            {% endif %}
            <li class="d-none d-md-inline-block px-4 dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resume
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a target="_blank" href="resume/en" class="dropdown-item">English <i class="fa fa-external-link" aria-hidden="true"></i></a>
                <a target="_blank" href="resume/fr" class="dropdown-item">French <i class="fa fa-external-link" aria-hidden="true"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

{{ content }}

<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5 class="text-success">This website</h5>
      <p class="text-small text-muted">
        The code behind this website is open-source, you can check it out
        <a class="text-success" target="_blank" href="https://github.com/tahabasri/portfolio">here</a>.
        <br/>Feel free to fork it as you like 👍.
      </p>
    </div>
    <div class="col-6 col-md">
      <h5 class="text-success">Resources</h5>
      <ul class="list-unstyled text-small">
        {% if page.title contains 'Activities' %}
        <li><a class="text-muted" href="./">Home</a></li>
        {% else %}
        <li><a class="text-muted" href="activity">Activites</a></li>
        {% endif %}
        <li><a class="text-muted" target="_blank" href="resume/en">Resume (EN) <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
        <li><a class="text-muted" target="_blank" href="resume/fr">Resume (FR) <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="text-success">About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" target="_blank" href="https://www.linkedin.com/in/tahabasri/en">LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li><a class="text-muted" target="_blank" href="https://github.com/tahabasri">Github <i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a class="text-muted" target="_blank" href="https://twitter.com/TheTahaBasri">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a class="text-muted" target="_blank" href="mailto:tahabsri@gmail.com">Mail <i class="fa fa-paper-plane" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>
